*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    border: none;
}

body{
    background-color:#101932;
}

.controlworck{
    margin: 0 auto;
    max-width: 1920px;
}

.block1{
    height: 925px;
    max-width: 1918px;
    padding-top: 30px;
}

.contener{
    max-width: 1734px;
    margin:0 auto;
}

/* ------------------  header  -------------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.blur1{
    background-color: red;
    border-radius: 50%;
    height: 355px;
    width: 355px;
    position: absolute;
    left: -119px;
    top: -87px;
    filter: blur(110px);
    opacity: 0.3;
    z-index: 1;
}

.blur2{
    background-color: red;
    border-radius: 50%;
    height: 423px;
    width: 423px;
    filter: blur(100px);
    opacity: 0.3;
    position: absolute;
    left: -73px;
    top: 438px;
}

.blur3{
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    height: 123px;
    width: 123px;
    filter: blur(80px);
    position: absolute;
    left: 1643px;
    top: 644px;
}

.blur4{
    background-color:#bd16cc;
    height: 296px;
    width: 296px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.7;
    position: absolute;
    top: 202px;
    left: 1446px;
}

.blur5{
    background-color:red;
    height: 694px;
    width: 694px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.2;
    position: absolute;
    top: 106px;
    left: 912px;
}

.header-left span{
    font-size: 25px;
    font-weight: 800;
    color: white;
    font-family: "Nunito";
    margin-left: 14px;
}

.text-color-red{
    color:#E22F2F !important;
}

.header-right{
    display: flex;
    align-items: ceblock1-bottomnter;
}

.header-right button{
    height: 40px;
    width:170px ;
    background-color:#AC1216;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: 300ms ease;
}

.header-right button:hover{
    background-color: #d8080b;
}

.header-right a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 25px;
    transition: 300ms ease;
}

.header-right a:hover{
    color: red;
    text-decoration: underline;
}

.header-right a:nth-child(9){
    margin-right: 70px;
}

/* --------------block1-bottom-------------------- */

.block1-bottom{
    margin-top: 93px;
    display: flex;
}

.block1-bottom-left h1{
    color: white;
    font-size: 80px;
    font-weight: 800;
}

.text-color-red1{
    color: #d8080b !important;
    font-size: 80px !important;
    font-weight: 800 !important;
}

.block1-bottom-left span{
    font-size: 25px;
    font-weight: 500;
    color: #71768E;
}

.block1-bottom-left p{
    font-size: 32px;
    font-weight: 400;
    color: #A0A3B5;
    max-width: 880px;
    margin-top: 40px;
}

.block1-bottom-left-button{
    display: flex;
    align-items: center;
    margin-top: 46px;
}

.block1-bottom-left-button button{
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 25px 54px;
    color: white;
}

.block1-bottom-left-button button:nth-child(1){
    background-color: #E11D2E;
    margin-right: 25px;
    max-width: 295px;
}

.block1-bottom-left-button button:nth-child(2){
    background-color: #1F2847;
    max-width: 379px;
}

.input-block1-bootom{
    height: 75px;
    max-width: 699px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    padding: 14px 30px;
}

.input-block1-bootom span:nth-child(1){
    font-size: 15px;
    font-weight: 500;
}

.input-block1-bootom span:nth-child(2){
    font-size: 25px;
    font-weight: 400;
}

.block1-bottom-right{
    height: 499px;
    width: 592px;
    margin-left: 120px;
    position: relative;
    background-image: url(../img/block2/fox3.svg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}

.block1-bottom-right img:nth-child(1){
  position: absolute;  
  top: 0;
  right: 35px;
}

.block1-bottom-right img:nth-child(2){
    position: absolute;  
    top: 250px;
    right:-110px;
}

.block1-bottom-right img:nth-child(3){
    position: absolute;  
    top: 120px;
    left:-100px;
    height: 85px;
}

.footer{
    display: flex;
    align-items: center;
    height: 38px;
    background-color: #5A4039;
    margin-top: 120px;
}

.footer span{
    color:#FFF500;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
}

/* ---------------block2--------------------- */

.block2{
    max-width:1918px;
    padding-top: 50px;
    position: relative;
    padding-bottom: 70px; 
}

.top_img-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_img-flex img{
    margin-right: 10px;
    opacity: 0.15;
}

.top1_img{
    margin-top: 66px;
    position: relative;
}

.top1_img img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top1_img img:nth-child(1){
    z-index: 5;
}

.top1_img img:nth-child(2){
    top: 25px;
    z-index: 5;
}

.top1_img img:nth-child(3){
    top: 75px;
    left: 875px;
    z-index: 5;
}

.top1_img img:nth-child(4){
   top: -250px;
   left: 870px;
   z-index: 4;
}

.icon1{
    position: absolute;
    z-index: 6;
    top: 9%;
    left: 69%;
}

.icon2{
    position: absolute;
    z-index: 6;
    top: 27%;
    left: 30%;
}

.icon3{
    position: absolute;
    z-index: 6;
    top: 61%;
    left: 62%;
}

.block2 button{
    color: white;
    background-color: #E11D2E;
    height: 77px;
    width: 215px;
    margin: 450px auto 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    display: block;
}

.block2 h2{
    color: white;
    font-size: 35px;
    font-weight: 700;
    width: 652px;
    text-align: center;
    display: block;
    margin: 33px auto 134px;
}

.q1{
    max-width: 108px;
    height: 108px;
    border-radius: 50%;
    opacity:20% ;
    position: absolute;
    z-index: 10;
}


.round-block1{
    background-color: #009dff;
    left: 1276px;
    top: 143px;
}

.round-block2{
    background-color: #ff0015;
    left: 536px;
    top: 377px;
}

.round-block3{
    background-color: #ff8000;
    top: 710px;
    left: 1128px;
}

.q2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.min-round-block1{
    background-color: #0096F2;
    top: 172px;
    left: 1305px;
}

.min-round-block2{
    background-color: #E11D2E;
    top: 406px;
    left: 565px;
}

.min-round-block3{
    background-color:#FF9429;
    top: 740px;
    left: 1157px;
}

.position{
    position: absolute;
}

.rectangle1{
    left: 685px;
    top: 165px;
    z-index: -1;
}

.rectangle2{
    left: 585px;
    top: 70px;
    z-index: -2;
}

.rectangle3{
    left: 485px;
    top: -20px;
    z-index: -3;
}

/* -----------block3---------------- */


.block3{
    max-width: 1920px;
    height: 939px;
    position: relative;
}

.block3 h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.block3-grid{
    padding: 50px 148px 159px 148px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 68px;
    position: relative;
}

.block3-grid1{
    background-color:#384D70;
    border-radius: 20px;
    padding: 30px 35px 40px 40px;
    position: relative;
}

.block3-grid1:nth-child(1){
    height: 580px;
}

.block3-grid1:nth-child(3){
    height: 470px;
}

.block3-icon{
    height: 120px;
    max-width: 120px;
    opacity: 10%;
    border-radius: 20px;
    position: relative;
}

.block3-grid1:nth-child(1) .block3-icon{
    background-color: red;
}

.size{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    position: absolute;
}

.block3-in-icon1{
    background-color: #E11D2E;
    top: 55px;
    left: 65px;
}

.block3-in-icon1 img{
    height: 35px;
    display: block;
    margin: 15px auto;
}

.block3-grid1:nth-child(2) .block3-icon{
    background-color: #FF9429;
}

.block3-in-icon2{
    background-color: #FF9429;
    top: 55px;
    left: 65px;
}

.block3-in-icon2 img{
    height: 35px;
    display: block;
    margin: 15px auto;
}

.block3-grid1:nth-child(3) .block3-icon{
    background-color: #0096F2;
}

.block3-in-icon3{
    background-color: #0096F2;
    top: 55px;
    left: 65px;
}

.block3-in-icon3 img{
    height: 35px;
    display: block;
    margin: 15px auto;
}

.block3-grid1 h3{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.block3-grid1 span{
    color: white;
    font-size: 20px;
    font-weight: 300;
    opacity: 0.3;
}

.block3-grid1 p{
    color: white;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 30px;
}


/* ---------block4----------------- */

.block4{
    padding: 50px 92px 175px 92px;
    height: 1052px;
    width: 100%;
}

.block4 h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.block4 p{
    color:white;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
    margin: 10px 0 50px 0;
}

.block4-center{
    max-width: 1736px;
    height: 384px;
    background-color: #071022;
    border-radius:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 50px;
}

.block4-center-left{
    width: 649px;
    height: 288px;
    border-radius: 20px;
    background-image: url(../img/block4/Mask\ Group.svg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.block4-center-left img:nth-child(1){
    position: absolute;
    top: 30px;
}

.block4-center-left img:nth-child(2){
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 2;
}

.block4-center-left img:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
}

.block4-center-right{
    text-align: left;
    width: 60%;
    height: 288px;
    margin-left: 41px;
}

.block4-center-right h3{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.block4-center-right p{
    font-size: 21px;
    font-weight: 300px;
    text-align: left;
}

.block4-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 231px;
    grid-gap: 41px;
    margin-top: 50px;
    margin-bottom: 175px;
}

.block4-bottom-left{
    background-color: #FF9429;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 35px 30px;
}

.block4-bottom-right{
    background-color: #067CCB;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 35px 10px ;
}
.left-text-block4_1{
    margin-left: 30px;
    margin-top: 50px;
}
.left-text-block4_1 h3{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.left-text-block4_1 p{
    color: white;
    text-align: left;
    max-width: 610px;
}

/* ---------------block5----------- */

.block5{
    background-color: #30298C;
    height: 662px;
    width: 100%;
    display: flex;
    position: relative;
}

.block5 img{
    position: absolute;
    top: -330px;
}

.block5-left{
    padding: 177px 0 0 92px;
}

.block5-left h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
    max-width: 552px;
    margin-bottom: 20px;
}

.block5-left p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    opacity: 20%;
    max-width: 630px;
    margin-bottom: 40px;
}

.block5-left button{
    background-color: #E11D2E;
    border-radius:10px ;
    font-size: 21px;
    font-weight: 700;
    color: white;
    width: 404px;
    height: 80px;
    padding: 25px 30px;
}

.block5-right{
    margin-left: 180px;
}

.block5-right_top{
    position: relative;
    display: flex;
    margin-top:150px;
    margin-bottom: 50px;
}

.block5-right-min-div{
    width: 117px;
    height: 117px;
    background-color: white;
    opacity: 10%;
    border-radius:20px ;
}

.block5-right_top img{
    position: absolute;
    top: 30px;
}

.block5-right h3{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 21px;
    margin-bottom: 10px;
}

.block5-right_top p{
    color: white;
    font-size:30px ;
    font-weight: 400;
    margin-left: 21px;
    max-width: 868px;
}


.block5-right-min-div2{
    width: 117px;
    height: 117px;
    background-color: white;
    opacity: 10%;
    border-radius:20px ;
}

.block5-right_bottom{
    display: flex;
    position: relative;
}

.block5-right_bottom img{
    position: absolute;
    top: 20px;
    left: -15px;
}

.block5-right-text2 p{
    color: white;
    font-size:30px ;
    font-weight: 400;
    margin-left: 21px;
    max-width: 868px;
}

/* -------------block6-------------------- */

.block6{
    height: 1990px;
    width: 100%;
    padding: 70px 148px 130px 148px;
    position: relative;
}
.block6 h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.block6-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 40px;
}
.grid-block{
    background-color: #18233E;
    border-radius: 30px;
    display: flex;
    padding: 35px 0 35px 30px;
}

.min-grid-block h1{
    text-align: center;
    margin-top:30px;
    color: white;
    opacity: 0.5;
    font-size: 65px;
}

.min-grid-block{
    width: 138px;
    height: 146px;
    border-radius: 30px;
    background-color: #1E2B48;
}

.grid-block-text h3{
    font-size: 30px;
    font-weight: 500;
    color: white;
    opacity: 0.5;
    margin-left: 30px;
    margin-bottom: 20px;
}

.grid-block-text p{  
    max-width: 562px;
    font-size: 25px;
    font-weight: 300;
    color: white;
    margin-left: 30px;
}
.grid-block:nth-child(8), .grid-block:nth-child(9){
    background-color: #384D70;
}

.color-chanch{
    background-color: #4C5E7E;
}

.min-center-red{
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.block-red1{
    top: 292px;
}

.block-red2{
    top: 603px;
}

.block-red3{
    top: 963px;
}

.min-center-white{
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.block-white1{
    top: 1326px;
}

.block-white2{
    top: 1678px;
}

.hr{
    width: 1385px;
    position: absolute;
    background-color: #384D70;
    border: 1px solid #384D70;
    transform: rotate(90deg);
    left: 268px;
    top: 1304px;
    z-index: -1;
}

.min-block-center-red{
    width:309px;
    position: absolute;
    background-color: red;
    border: 2px solid red;
    transform: rotate(90deg);
    left: 806px;
    top: 450px;
}

/* ------------block7-------------- */

.block7{
    height: 1071px;
    width: 100%;
    background-color: #162344;
    padding: 70px 179px 140px 179px;

}

.block7 h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
}

.block7-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px;
    grid-auto-rows: 420px;
}

.block7-grid-block h3{
    color:white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 13px;
}

.block7-grid-block p{
    color:white;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    opacity: 60%;
}

.block7-grid-img{
    max-width: 330px;
    height: 337px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.image1{
    background-image: url(../img/block7/image1.svg);
}
.image2{
    background-image: url(../img/block7/image2.svg);
}
.image3{
    background-image: url(../img/block7/image3.svg);
}
.image4{
    background-image: url(../img/block7/image\ 4.svg);
}

.tree-dot{
    display: flex;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 80px;
    justify-content: center;
}

.dot1{
    width: 10px;
    height: 10px;
    background-color: #FF0000;
    margin-right:15px ;
}

.dot2{
    width: 10px;
    height: 10px;
    background-color: #A2A7B4;
    margin-right: 15px;
}

.top_img-flex2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_img-flex2 img{
    margin-left: 20px;
    opacity: 0.7;
}
/* ----------- block8------------------ */

.block8{
    width: 100%;
    height: 688px;
    padding: 73px 0 150px 0;
}

.block8 h2{
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 45px;
    text-align: center;
}

.block8_1{
    max-width: 1036px;
    height: 75px;
    background-color: #384D70;
    border-radius: 15px;
    margin: 0 auto 20px;
    padding: 25px 25px 25px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block8_1 p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.block8_1-right{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #BF263B;
    background-image: url(../img/block8-icon.svg);
    background-position: center;
    background-size:25px;
    background-repeat: no-repeat
}

/* -------------------block9 -------------------- */

.block9{
    height: 971px;
    width: 100%;
    background-color: #162758;
    padding-top: 60px;
    display: flex;
    padding-bottom: 187px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.block9 h1{
    font-size: 50px;
    font-weight: 700;
    max-width: 782px;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 110px;
}

.center-block{
    display: flex;
    align-items:center;
    margin-bottom: 168px;
}

.red-block{
    background-color: #E11D2E;
    width: 108px;
    height: 108px;
    border-radius: 15px;
    margin-right: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.red-block:nth-child(1){
    background-image: url(../img/block9/Vector.svg);   
}
.red-block:nth-child(2){
    background-image: url(../img/block9/Vector\ \(1\).svg);   
}
.red-block:nth-child(3){
    background-image: url(../img/block9/Vector\ \(2\).svg);   
}
.red-block:nth-child(4){
    background-image: url(../img/block9/Vector\ \(3\).svg);   
}
.red-block:nth-child(5){
    background-image: url(../img/block9/Vector\ \(4\).svg);   
}
.red-block:nth-child(6){
    background-image: url(../img/block9/Vector\ \(5\).svg);   
}

.block9-img{
    height: 217px; ;
    width: 256px;
    background-image: url(../img/img-block9.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
 
/* -----------  footer ------------------- */

footer{
    background-color: #0D1428;
    height: 104px;
    padding: 40px 0;
}

footer p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    opacity: 40%;
}